.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0e1114;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3a424c;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5ed4ea;
}

.custom-scrollbar {
  scrollbar-color: #3a424c #0e1114;
  scrollbar-width: thin;
}
